@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  @keyframes gradient {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }

  @keyframes slideDown {
    from {
      opacity: 0;
      transform: translateY(-10px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }

  .animate-gradient {
    animation: gradient 3s ease infinite;
  }

  .animate-slideDown {
    animation: slideDown 0.3s ease-out;
  }
}